body {
  font-family: 'Arial', sans-serif;
}

/* Styling for header */ 

header {
  background-color: #4CAF50;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  color: #fff;
  font-size: large;
  font-weight: bold;
}

nav li:hover {
  text-decoration: underline;
  color: #ffcc00; 
}

main {
  padding: 20px;
}

.hero {
  background-color: #7ed56f;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: x-large;
}

.organization-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}

.organization-image img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.organization-text {
  max-width: 500px; 
  padding-left: 5%;
  font-size: larger;
}

.organization-vision {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 3%; 
  margin-right: 3%; 
  margin-bottom: 3%;
}

.vision-text {
  max-width: 500px; 
  padding-right: 5%;
  align-items: center;
  font-size: larger;

}

.vision-image img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ==================================================================================== */ 
/* ==================================================================================== */ 
/* Pet cards section */ 

.pet-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 3%;
  margin-right: 3%;
}

.pet-card {
  text-align: center;
  margin: 10px;
  width: 20%; 
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;

}

.pet-card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ==================================================================================== */ 
/* ==================================================================================== */ 
/* Styling for footer */


footer {
  background-color: #7ed56f;   
}


.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%; 
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #fff;
}
